.signingPage {
    break-inside: avoid;
}

.container {
    display: flex;
    direction: ltr;
}

.customInputContainer {
    position: relative;
    min-width: 2em;
    display: inline-block;
    min-height: 1em;
}
.customInputContainer > input{
    width: 100%;
    position: absolute;
}
.customInputContainer > span {
    visibility: hidden;
    font-weight: normal;
}

@media screen {
    .container .onlyprint {
        display: none;
    }
    .body {
        margin: 15px;
    }
}

@media print {

    .container .noprint {
        display: none;
    }
}

@page {
    header: '';
    margin: 1in;
    @bottom-right {
        font-family: Arial, Helvetica, sans-serif;
        content: 'Page ' counter(page) ' of ' counter(pages);
    }
    @bottom-left {
        font-family: Arial, Helvetica, sans-serif;
        content: 'Lease Agreement'
    }
}